@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
   font-size: 16px;
   color: #0f141e;
   background: #f1f1f1;
}

.container {
   max-width: 750px;
   margin: auto;
   padding-top: 30px;
}

.avatar {
   width: 200px;
   border-radius: 28px;
   box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
   margin-bottom: 30px;
   display: flex;
}

.info-text {
   margin-left: 40px;
}

.info-text p {
   font-style: italic;
   font-weight: bold;
   color: #86898f;
   margin: 0;
}

.info-text h4 {
   margin-bottom: 10px;
}

.card {
   border-radius: 20px;
   padding: 15px 20px;
   margin-bottom: 20px;
}

.card h2 {
   margin-bottom: 10px;
}

.bg-yellow {
   background: #fff9dc;
}

.bg-green {
   background: #e5ffe7
}

.bg-red {
   background: #ffe5e5;
}

a {
   color: #333;
   text-decoration: none;
}

a:hover {
   color: orange;
}

.btn {
   background: #111;
   color:#f1f1f1;
   padding: 15px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-family: inherit;
}

.btn:hover {
   opacity: 0.8;
   color: orange;
}

.list {
   padding: 0 20px;
}

.list li {
   color: #86898f;
   margin-bottom: 10px;
}

.education-list {
   list-style: none;
   padding: 0;
}

.education-list li {
   margin-bottom: 10px;
}

.table {
   width: 100%;
}

.table td {
   padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
   color: #86898f;
}

.form h2 {
   text-align: center;
}

.form-row {
   margin-bottom: 10px;
   display: flex;
}

.form-row .form-group {
   margin-right: 20px;
   width: 50%;
   /* display: inline-block; */
   /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
   margin-right: 0;
}

.form-group label {
   display: block;
   font-size: 14px;
   color: #86898f;
}

.form-group input,
.form-group textarea {
   width: 100%;
   box-sizing: border-box;
   border: none;
   background: transparent;
   border-bottom: 1px solid #ccc;
   color: #000;
   padding: 15px 0 10px;
   font-family: inherit;
   outline: none;
}

@media(max-width: 560px) {
   .info {
      display: block;
      text-align: center;
   }

   .card h2 {
      text-align: center;
   }

   .form-row {
      display: block;
   }

   .form-row .form-group {
      width: 100%;
      margin-right: 0;
   }
}